<template>
  <div class="home">
    <CreateJoinRoom v-if="signedIn" />
    <RegisterForm v-else />
  </div>
</template>

<script>
import { mapState } from "vuex";
import CreateJoinRoom from "@/components/CreateJoinRoom.vue";
import RegisterForm from "@/components/RegisterForm.vue";

export default {
  name: "Home",
  components: {
    CreateJoinRoom,
    RegisterForm
  },
  computed: {
    ...mapState(["signedIn"])
  }
};
</script>
