<template>
  <div>
    <h3>Hello, {{ username }}</h3>
    <form>
      <button @click.prevent="createRoom">Create</button>
      <button @click.prevent="toggleJoinTab">Join an Existing Game</button>
      <div v-if="showJoinTab">
        <input v-model="token" />
        <button @click.prevent="joinARoom">Join</button>
      </div>
    </form>
  </div>
</template>

<script>
import { mapState } from "vuex";
import axios from "axios";

export default {
  name: "CreateJoinRoom",
  data() {
    return {
      showJoinTab: false,
      token: ""
    };
  },
  computed: {
    ...mapState(["username"])
  },
  methods: {
    toggleJoinTab() {
      this.showJoinTab = this.showJoinTab ? false : true;
    },
    joinARoom() {
      requestToJoinARoom(this);
    },
    createRoom() {
      requestToCreateARoom(this);
    }
  }
};

function requestToJoinARoom(vm) {
  let token = vm.token;
  let playerId = vm.$store.state.playerId;
  axios
    .get("http://localhost:8080/join/" + token, {
      params: { playerId }
    })
    .then(function(response) {
      console.log(response);
      let roomToken = response.data.tokenId;
      vm.$router.push({ name: "Room", params: { roomToken } });
    })
    .catch(function(error) {
      console.log(error);
    });
}

function requestToCreateARoom(vm) {
  let playerId = vm.$store.state.playerId;
  axios
    .get("http://localhost:8080/create", {
      params: {
        playerId: playerId
      }
    })
    .then(function(response) {
      console.log(response);
      let roomToken = response.data.tokenId;
      console.log(roomToken);
      vm.$router.push({ name: "Room", params: { roomToken } });
    })
    .catch(function(error) {
      console.log(error);
    });
}
</script>
