<template>
  <form>
    <input v-model="username" placeholder="username" />
    <button @click.prevent="sentForm">sent</button>
    <span>{{ playerId }}</span>
    <span>{{ response }}</span>
    <span v-if="errorMessage">{{ errorMessage }}</span>
  </form>
</template>

<script>
import axios from "axios";
import { mapState } from "vuex";

export default {
  name: "RegisterForm",
  data() {
    return {
      response: "no response yet",
      errorMessage: ""
    };
  },
  computed: {
    username: {
      get() {
        return this.$store.state.username;
      },
      set(username) {
        this.$store.commit("updateUsername", username);
      }
    },
    ...mapState(["playerId"])
  },
  methods: {
    sentForm: function() {
      sentFormToBackend(this);
    }
  }
};

function sentFormToBackend(vm) {
  axios
    .get("http://localhost:8080/register", {
      params: {
        playerId: vm.$store.state.playerId,
        username: vm.$store.state.username
      }
    })
    .then(function(response) {
      console.log(response);
      vm.response = response;
      vm.$store.commit("signIn");
    })
    .catch(function(error) {
      vm.errorMessage = error;
    });
}
</script>

<style>
form {
  margin: 20px;
  padding: 20px;
}
</style>
